@model AdvertisementAppUserCreateModal
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<form asp-action="Send" asp-controller="Advertisement" method="POST">
    <input type="hidden" asp-for="@Model.AdvertisementId"/> <!-- Son kullanıcı hangi başvuruyu seçtiyse ID'si bana doğrudan gelecek o yüzden hidden'e aldık. -->
    <div class="mb-3">
        
    </div>
</form>
